{% extends "layout.html" %}

{% block title %}Dashboard - Sistem Pa Wawan{% endblock %}

{% block page_title %}Dashboard{% endblock %}

{% block content %}

    <section class="greeting" style="margin-top: 20px;">
        <h2>Halo, {% if user %}{{user.nama_lengkap}}{% else %}Pengguna{% endif %}👋 </h2>
    </section>

    <section class="restock-section">
        <h3>Perlu Segera Restock</h3>
        <div class="card-scroll-container">
    </section>
        {% for barang in daftar_restock %}
        <div class="restock card">
            <strong>{{ barang.nama_barang }}</strong>
            <span>Sisa : {{ barang.satuan }}</span>
        </div>
        {% endfor %}

        {% if not daftar_restock %}
        <p>Tidak ada barang yang perlu direstock.</p>
        {% endif %}
        
    <section class="desktop-actions">
        <button class="btn btn-primary" id="btnShowModalMasuk">+ Catat Barang Masuk</button>
        <button class="btn btn-secondary" id="btnShowModalKeluar">- Catat Barang Keluar</button>
    </section>

{% endblock %}

{% block mobile_actions %}
<div class="mobile-action-bar">
    <button class="btn btn-primary-mobile" id="btnModalMasukMobile">
        + Barang Masuk
    </button>
    <button class="btn btn-secondary-mobile" id="btnModalKeluarMobile">
        - Barang Keluar
    </button>
</div>
{% endblock %}

{% block modals %}
<div id="inputModalOverlay" class="modal-overlay">
    <div class="modal-content">
        <div class="modal-header">
            <h3 id="modalTitle">Catat Barang</h3>
            <button class="close-modal" id="btnCloseModal">&times;</button>
        </div>
        
        <form id="transactionForm">
            <input type="hidden" id="transactionType" value="keluar">
            <div class="form-group">
                <label for="searchItem">Barang Apa?</label>
                <input type="text" id="searchItem" placeholder="Ketik nama barang...">
            </div>
            <div class="form-group">
                <label for="itemAmount">Jumlah</label>
                <div class="amount-input">
                    <input type="number" id="itemAmount" value="1" min="1">
                    <span id="itemUnit" class="satuan">pcs</span>
                </div>
            </div>
            <div class="form-group">
                <label for="itemNotes">Keterangan (Opsional)</label>
                <textarea id="itemNotes" placeholder="Cth: Diambil staf Admin"></textarea>
            </div>
            <div class="modal-actions">
                <button type="button" class="btn btn-secondary" id="btnCancelModal">Batal</button>
                <button type="submit" class="btn btn-primary">Simpan</button>
            </div>
        </form>
        
    </div>
</div>
{% endblock %}